* { margin:0; padding:0; }

body{
	background: #06127B;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	position: relative;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 9, 73, 0.78);
	z-index: 0;
}
img{
	width: 100%;
}

.header a.logo {
  display: block;
  background: url('../img/logo.png') transparent no-repeat;
  text-indent: -9999px;
  width: 166px;
  height: 125px;
  position: relative;
  z-index: 9999;
}

/* This parent can be any width and height */
.welcome {
  text-align: center;
  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
  height: 100%;
}
 
/* The ghost, nudged to maintain perfect centering */
.welcome:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */ 
.welcome-logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 479px;
  padding: 0 3em;
}


.deco{
	background: url('../img/deco.png') transparent no-repeat;
	width: 354px;
	height: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
  z-index: 999;
}

.blueplus{
	background: url('../img/blue_plus.png') transparent no-repeat;
  position: absolute;
  top: 105px;
  z-index: 9999;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.yellowplus{
	background: url('../img/yellow_plus.png') transparent no-repeat;
	position: absolute;
	top: 105px;
	z-index: 9999;
	right: 0;
	width: 25px;
	height: 25px;
	display: inline-block;
}
.footer {
  position: absolute;
  bottom: 3%;
  z-index: 9999;
  left: 190px;
}
.footer p, .footer a {
	color: #FFF;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 12px;	
}

.footer a {
	color: #FFF;
}

.section{
	overflow: hidden;
}
section{
	position: relative;
}
.welcome{
	background: url("https://dl.dropboxusercontent.com/u/44921035/chapel/big/landing-1.gif") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro{
	background: url("https://dl.dropboxusercontent.com/u/44921035/Chapel/big/landing-2.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 0;
}

.girl{
	background: url("https://dl.dropboxusercontent.com/u/44921035/chapel/big/landing-3.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 0;
}
.wine{
	background: url("https://dl.dropboxusercontent.com/u/44921035/chapel/big/landing-last.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 0;	
}

.intro .inner{
	background: url("https://dl.dropboxusercontent.com/u/44921035/Chapel/big/landing-2.jpg") no-repeat;
  -webkit-background-size: 90.5%;
  background-size: 90.5%;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 105px;
  left: 165px;
}
.girl .inner{
	background: url("https://dl.dropboxusercontent.com/u/44921035/chapel/big/landing-3.gif") no-repeat;
  -webkit-background-size: 90.5%;
  background-size: 90.5%;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 105px;
  left: 165px;
}
.wine .inner{
	background: url("https://dl.dropboxusercontent.com/u/44921035/chapel/big/landing-last.gif") no-repeat;
  -webkit-background-size: 90.5%;
  background-size: 90.5%;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 105px;
  left: 165px;
  background-position: 0 -20px;

}

.info{
 	position: absolute;
  top: 170px;
  width: 40%;
  left: 105px;
  z-index: 999;
}
.info p{
	font-size: 23px;
	line-height: 1.7;
	color: #FFCD35;
	font-weight: 100;
}

.info p.bottom{
	margin-top: 15px;
	font-weight: 600;
}

.cta{
	display: inline-block !important;
  width: 125px !important;
  font-weight: 600;
  padding: 10px 35px;
  color: #002266;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(255, 174, 0, 0.75);
  font-size: 16px;
  height: 20px !important;
  z-index: 99999;
  margin-top: 15px;
}

a.move-down{
	width: 32px;
	display: inline-block;
	position: absolute;
	bottom: 30px;
	left: 100px;
	z-index: 99999;
}


/* CSS ANIMATION DELAY */
.fadeIn {
	/* CSS needed for animation
	---------------------------------------------------- */
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	-o-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-1s {
	-webkit-animation-duration:1.3s;
	-moz-animation-duration:1.3s;
	-o-animation-duration:1.3s;
	animation-duration:1.3s;
}

/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-1s {
        -webkit-animation-delay:1.3s;
        -moz-animation-delay:1.3s;
        -o-animation-delay:1.3s;
        animation-delay:1.3s;
}


/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


@media only screen and (max-width: 480px) {
	.header a.logo{
		width: 106px;
		height: 80px;
		position: relative;
		z-index: 9999;		
		-webkit-background-size: cover;
		background-size: cover;
	}

	.footer p, .footer a{
		font-size: 10px;
	}

	.intro .inner, .girl .inner, .wine .inner{
	  top: 67px !important;
	}

	.hidden-xs{
		display: none;
	}
	.intro .inner, .girl .inner, .wine .inner{
	  -webkit-background-size: cover;
	  background-size: cover;
	  position: absolute;
	  z-index: 1;
	  height: 100%;
	  width: 100%;
	  top: 105px;
	  left: 0;
	}
	.deco{
		bottom: -13px;		
	}
	a.move-down{
		display: none;
	}

	.info {
	  position: relative;
	  width: 280px;
	  z-index: 999;
	  top: 30px;
	  padding: 0 20px;
	  left: auto;
	  right: auto;
	}
	.info p{
		line-height: 1.4;
		font-size: 16px;
	}
	.footer{
		left: 13px;
		bottom: 30px;
	}
}

