/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized

	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License

*/

* { margin:0; padding:0; }
body {
	background: #06127B;
	height:100%;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	}
	img { border:none; }

	#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}

	#supersized {
		display:block;
		position:fixed;
		left:0;
		top:0;
		overflow:hidden;
		z-index:-999;
		height:100%;
		width:100%;
	}
	#supersized img {
		width:auto;
		height:auto;
		position:relative;
		display:none;
		outline:none;
		border:none;
	}
			#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
		#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/

		#supersized li {
			display:block;
			list-style:none;
			z-index:-30;
			position:fixed;
			overflow:hidden;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:#111;
		}
		#supersized a {
			width:100%;
			height:100%;
			display:block;
		}
			#supersized li.prevslide { z-index:-20; }
			#supersized li.activeslide { z-index:-10; }
			#supersized li.image-loading { background:#111 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }
				#supersized li.image-loading img{ visibility:hidden; }
			#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }

.header a.logo {
	display:block;
	background: url('../img/logo.png') transparent no-repeat;
	 width: 166px;
	 height: 130px;
	 text-indent: -9999px;
}

.deco{
	background: url('../img/deco.png') transparent no-repeat;
	width: 354px;
	height: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
  z-index: 999;
}

.footer {
  position: relative;
  bottom: 3%;
  left: 190px;
  z-index: 9999;
}
.footer p, .footer a {
	color: #FFF;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 12px;
}

.footer a {
	color: #FFF;
}
/* Hide Elements */
#play-button, #slidecounter, #slide-list{
	display: none;
}

.slideinfo p{
	margin: 10px 0 20px;
}

.cta{
	display: inline-block !important;
  width: 125px !important;
  padding: 10px 35px;
  color: #002266;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(255, 174, 0, 0.75);
  font-size: 16px;
  height: 20px !important;
  position: absolute;
  top: 235px;
  z-index: 99999;
  left: 65px;
}

#supersized li{
	background: #06127B;
}
#supersized li.slide-0{
	position: absolute;
	top: 0;
}
#supersized li.slide-1, #supersized li.slide-2, #supersized li.slide-3{
	position: absolute;
  top: 109px;
  left: 165px;
	width: 100%;
	height: 100%;
	overflow: visible;
}

#supersized li.slide-1 img, #supersized li.slide-2 img, #supersized li.slide-3 img{
	top: 0 !important;
}

.slide-1,.slide-2,.slide-3{
	padding-left: 110px;
  margin-left: -109px;
}

.slide-3{
	padding-left: 90px;
	margin-left: -89px;
}

.slide-1:after{
	content: "With most developer offering basically the same promises, \A it takes a Master Planner to really break away from the horde. \A To see what could be, instead what is. \A This master planner's name: \A GAMUDA LAND";
	position: absolute;
  z-index: 9999;
  top: 100px;
  left: 65px;
  width: 33%;
  color: #FFCD35;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  font-size: 23px;
  line-height: 1.7;
}
.slide-2:after, .slide-3:after{
	content: "661<sup>+</sup> Chapel St offers a mesmerising view that no other development in the vicinity can match or guarantee. \A REGISTER TO SEE A BETTER VIEW OF THE BIGGER PICTURE.";
	position: absolute;
  z-index: 9999;
  top: 100px;
  left: 65px;
  width: 650px;
  color: #FFCD35;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  font-size: 23px;
  line-height: 1.7;
}

.slide-0.prevslide, .slide-1.prevslide, .slide-2.prevslide, .slide-3.prevslide {
	display: none !important;
}

/*Wufoo Form*/
#wufoo-z1hu24mt0es8pzx{
  width: 50%;
  position: absolute;
  left: 166px;
  top: 105px;
  bottom: 0;
  height: 780px;
	z-index: 999;
}


#wufoo-z1hu24mt0es8pzx iframe{
	height: 985px;
}
.contact-info{
  padding: 100px 200px 0 200px;
  bottom: 0;
  background-color: #FFF;
  left: 59.9%;
  position: absolute;
  top: 105px;
  width: 16.1%;
  height: 885px;
}

.contact-info h1{
	font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  width: 230px;
  font-weight: 600;
}

.contact-info .address{
	font-family: 'Open Sans', sans-serif;
	list-style: none;
  margin-top: 40px;
  font-size: 13px;
}
.contact-info .address li{
	margin-bottom: 2px;
}
.contact-info .address li:first-child{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}

.contact-info .number p {
	margin-top: 15px;
	line-height: 1.6;
	font-size: 12px;
}

.contact-info .yellowplus{
	top: 0;
}
.contact-info img{
	width: 138px;
  margin-top: 22px;
}

.blueplus{
	background: url('../img/blue_plus.png') transparent no-repeat;
  position: absolute;
  top: 105px;
  z-index: 9999;
  right: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.yellowplus{
	background: url('../img/yellow_plus.png') transparent no-repeat;
	position: absolute;
	top: 105px;
	z-index: 9999;
	right: 0;
	width: 25px;
	height: 25px;
	display: inline-block;
}

/*Register Page*/

body.register{
	background: url("../img/thanku.jpg") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 0;
	height: 1080px;
}

body.register .overlay{
	height: 1090px;
}

body.register .header{
	position: relative;
	z-index: 9999;
}

/* Thank you */
body.thank-you{
	overflow: hidden;
	background: url("../img/thanku.jpg") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 0;
}

body.thank-you .header{
	position: relative;
	z-index: 9999;
}

.thankyou-wrap{
	background: url('../img/thanku.jpg') transparent no-repeat;
	height: 100%;
  position: absolute;
  left: 166px;
  top: 105px;
  width: 100%;
  background-size: 90%;
}

.thankyou-wrap h1{
  text-decoration: underline;
  text-transform: uppercase;
  width: 290px;
  font-size: 27px;
  position: absolute;
  right: 250px;
  top: -35px;
  color: #FFCD35;
  line-height: 1.6;
  font-weight: 100;
}

.thanku-footer{
	position: absolute;
	bottom: 3%;
	left: 190px;
}

.thanku-footer p {
	color: #FFF;
}

.thanku-footer a {
	color: #FFF;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 6, 63, 0.92);
	z-index: 0;
}


@media only screen and (max-width: 480px) {
	/* Thank You Page */
	.thankyou-wrap{
	  background: url('../img/thanku.jpg') transparent no-repeat;
	  height: 100%;
	  width: 100%;
	  background-size: cover;
	  position: absolute;
	  z-index: 9999;
	  left: 0;
	}

	.thankyou-wrap h1{
	  left: 70px;
	  top: 65px;
	}
}
