/*Wufoo Form*/
#wufoo-z1hu24mt0es8pzx{
  width: 90%;
  position: absolute;
  right: 0;
  top: 109px;
  height: 100%;
}

#wufoo-z1hu24mt0es8pzx iframe{
	height: 100%;
}

#wufoo-z1hu24mt0es8pzx body{
	overflow: hidden;
}


.wufoo label.desc, .wufoo legend.desc{
	font-size: 95%;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  color: #444444;
  float: left;
  width: 19%;
  margin-top: 15px;
}

label.desc, legend.desc{
  font-size: 95%;
  font-weight: bold;
  color: #222;
  line-height: 150%;
  margin: 0;
  padding: 0 0 3px 0;
  border: none;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;	
}
.wufoo li.focused{
	background-color:transparent;
}

.wufoo input.text, .wufoo input.file, .wufoo select.select{
	font-style: normal;
  font-weight: normal;
  color: #333333;
  font-size: 100%;
  border: 0;
  border-bottom: 2px solid #444;
  box-shadow: inset 0 3px 0 rgba(255,255,255,1);
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}

.wufoo textarea.textarea{
	border: 0;
}