@import "mixin";
@font-face {
  font-family: 'neris';
  src: url('../fonts/neris/Neris-Light.otf') format('opentype');
}

body {
	color: #fff;
	font-family: 'neris', sans-serif;
	background: #222;
	font-size: 18px;
	line-height: 1.6em;
	font-weight: 300;
}

.splash {
	height: 100%;
	width: 100%;
	background: url("https://dl.dropboxusercontent.com/u/3421451/images/img-main-1.jpg") no-repeat top center;
	background-attachment: fixed;
	background-size: cover;
	#splash-plus {
		position: fixed;
		overflow: hidden;
		background: #000;
		opacity: 1;
		z-index: 10;
		div {
			position: absolute;
		}
		.plus-top {
			margin-left: -25px;
			margin-top: -180px;
			left: 50%;
			width: 50px;
			height: 160px;
			background: url("https://dl.dropboxusercontent.com/u/3421451/images/top.gif") no-repeat top center;
			@include rounded(0 0 15px 15px);
		}
		.plus-right {
			top: 50%;
			margin-top: -25px;
			margin-right: -180px;
			width: 160px;
			height: 50px;
			background: url("https://dl.dropboxusercontent.com/u/3421451/images/right.gif") no-repeat top center;
			@include rounded(15px 0 0 15px);
		}
		.plus-bottom {
			margin-left: -25px;
			margin-bottom: -180px;
			left: 50%;
			width: 50px;
			height: 160px;
			background: url("https://dl.dropboxusercontent.com/u/3421451/images/bottom.gif") no-repeat top center;
			@include rounded(15px 15px 0 0);
		}
		.plus-left {
			top: 50%;
			margin-top: -25px;
			margin-left: -180px;
			width: 160px;
			height: 50px;
			background: url("https://dl.dropboxusercontent.com/u/3421451/images/left.gif") no-repeat top center;
			@include rounded(0 15px 15px 0);
		}
	}
	.scroll-down {
		position: fixed;
		width: 100%;
		text-align: center;
		z-index: 12;
		font-size: 14px;
		.fa {
			background: rgba(255,255,255,0.1);
			@include rounded(50px);
			width: 18px;
			height: 18px;
			line-height: 1.4em;
			margin-left: 8px;
		}
	}
	.splash-logo a {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1;
		display: block;
		text-decoration: none;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		.splash-wrap {
			height: 100%;
			width: 100%;
			@include transform(translate(0%,25%));
		}
		span {
			display: inline-block;
			margin-top: 30px;
			padding: 10px 30px;
			background: rgba(255,255,255,0.2);
			@include rounded(4px);
		}
	}
}

.container {
	@media (min-width: 1440px) {
		width: 1200px;
	}
}


.hideme {
	opacity: 0;
	z-index: -11 !important;
}

#main-logo {
	position: absolute;
	top: 50px;
	right: 200px;
	text-indent: -9999px;
	background: url("https://dl.dropboxusercontent.com/u/3421451/images/main-logo.png") no-repeat top center;
	width: 214px;
	height: 120px;
}

#main-nav {
	position: relative;
	// .navvi {
	// 	position: fixed;
	// }
	a {
		background: url("http://i.imgur.com/w3WmUAZ.png") no-repeat #FFF;
		position: fixed;
		opacity: 0.65;
		z-index: 1;
		@include transition(.2s ease-in-out);
		&:hover {
			@include box-shadow(0,0,15px,rgba(0,0,0,0.7));
			margin: 0;
		}
	}
	.nav-top {
		a {
			top: 0;
			margin-top: -60px;
			background-position: 6px 75px;
			@include rounded(0 0 5px 5px);
			&.active, &:hover {
				background: #86BDA2;
			}
			&:hover {
				margin-top: 0;
			}
		}
	}
	.nav-bottom {
		a {
			bottom: 0;
			margin-bottom: -60px;
			background-position: -81px 23px;
			@include rounded(5px 5px 0 0);
			&.active, &:hover {
				background: #D288C3;
			}
			&:hover {
				margin-bottom: 0;
			}
		}
	}
	.nav-top, .nav-bottom {
		a {
			width: 60px;
			height: 160px;
			margin-left: -25px;
			left: 50%;
		}
	}
	.nav-right {
		a {
			background-position: -213px -2px;
			right: 0;
			margin-right: -60px;
			@include rounded(5px 0 0 5px);
			&.active, &:hover {
				background: #BDBB2D;
			}
			&:hover {
				margin-right: 0;
			}
		}
	}
	.nav-left {
		a {
			background-position: -80px -3px;
			left: 0;
			margin-left: -60px;
			@include rounded(0 5px 5px 0);
			&.active, &:hover {
				background: #D2C697;
			}
			&:hover {
				margin-left: 0;
			}
		}
	}
	.nav-right, .nav-left {
		a {
			width: 160px;
			height: 60px;
			margin-top: -25px;
			top: 50%;
		}
	}
}

.main-content {
	margin-top: 20%;
	h1 {
		font-size: 43px;
		font-weight: 300;
	}
	.cust-link {
		text-transform: uppercase;
		text-decoration: none;
		padding: 10px 16px;
		background: rgba(0,0,0,0.5);
		@include rounded(5px);
		@include transition(.2s);
		&:hover {
			background: rgba(0,0,0,0.8);
		}
	}
	.reg-link {
		color: #F5C375;
	}
	.archi-link {
		color: #fff;
	}
	.contact-link {
		display: block;
		background: #fff;
		color: #000;
		font-size: 14px;
		line-height: 1.4em;
		margin-top: 30px;
		font-weight: 700;
		width: 80%;
		@include rounded(0 15px 15px 0);
		&:hover {
			color: #fff;
		}
	}
}

.content-wrap {
	width: 50%;
	position: absolute;
	right: 0;
	top: 30%;
	padding: 15px;
	background: rgba(0,0,0,0.7);
	h1 {
		font-size: 43px;
		font-weight: 300;
		margin-bottom: 20px;
	}
	.highlight {
		font-size: 24px;
		text-transform: uppercase;
		color: #EEF2B5;
	}
}

.contact {
	.main-content {
		.wrapper {
			margin: 50px 0 0 50px;
		}
	}
	.gamuda {
		margin: 45px 0 0;
	}
	.phones {
		line-height: 130%;
		font-size: 14px	;
	}
}


.edm {
	background: rgba(0,0,0,1);
	img {

	}
}

#img-slider {
	margin: 0;
	padding: 0;
	li {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		@include bgsize(cover);
		background-position: center center;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0;
	}
}

#chapel-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
}
