@import "mixin";

body {
	color: #fff;
}

.container {
	@media (min-width: 1440px) {
		width: 1200px;
	}
}

#main-logo {
	position: absolute;
	top: 50px;
	right: 200px;
}

.main-content {
	margin-top: 150px;
}

#img-slider {
	margin: 0;
	padding: 0;
	li {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		@include bgsize(cover);
		background-position: center center;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0;
		&.img-1 {
			background-image: url("http://dl.dropbox.com/u/515046/www/outside.jpg");
		}
		&.img-2 {
			background-image: url("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
		}
		&.img-3 {
			background-image: url("http://dl.dropbox.com/u/515046/www/cheers.jpg");
		}
		&.img-4 {
			background-image: url("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
		}
	}
}